* {
  margin: 0;
  padding: 0;
}
.height-100{
  height: 100vh;
}

.width-100{
  width: 100vw;
}

.bg-me{
  background-image: url('./asset/question-background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.image-question{
  max-width: 100%;
  max-height: 100%;
  width: 300px;
  height: 250px;
}

.no-padding{
  padding: 0;
}

.center {
  text-align: center;
}

.margin-center{
  margin: 0 auto;
}

.question-choice-answer{
  margin : 0
}

.box-question-answer{
  width: 300px;
  height: 300px;
  margin: 0 auto;
  text-align: left;
}

.input-size-100{
  width: 100%;
}

.input-size-100px{
  width: 100px;
}

.question-box{
  height: 150px;
}

.image-question-box{
  height: 70%;
}

.fixed{
  position: fixed;
  top: 80%;
}

.block {
  display: block;
}

.margin-top-20{
  margin-top: 23%;
}

.margin-left-50{
  margin-left: 50%;
}

.margin-left-25 {
  margin-left: 25%
}
.width-50 {
  width: 50%;
}

.width-20 {
  width: 20%;
}

.question-answer {
  text-align: left;
}

.font-20{
  font-size: 20px;
}